<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    
  <br>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Algorytm</mat-card-title>
      </mat-card-header>
    </mat-card>
    <button mat-button>Click me!</button>

    
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">|||</button></p>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
