<div class="first-text">
  <h1>
    <i class="material-icons">
      list
    </i>
    Lista twoich postaci</h1>
  <p>Aktualnie znajdujesz się w panelu głównym, widzisz przed sobą swoje postacie - tutaj możesz sprawdzić szczegóły swojej postaci.</p>
</div>

<app-player-panel-character-cards></app-player-panel-character-cards>

<div class="first-text">
  <h1>
    <i class="material-icons">
      block
    </i>
    Lista twoich kar</h1>
  <p style="margin-bottom: 50px;">Aktualnie znajdujesz się w panelu głównym, widzisz przed sobą kary, które zostały nałożone na ciebie przez administracje.</p>
</div>

<app-player-panel-account-punishment-list></app-player-panel-account-punishment-list>